<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242972701790-cjtr6onjeod8421gfs0me0mc1f9bsj3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242972701790-cjtr6onjeod8421gfs0me0mc1f9bsj3n</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCAalkmad1sUoCNmC8ZC6J400t1qpNBs</string>
	<key>GCM_SENDER_ID</key>
	<string>242972701790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericroca.Hotel-Reservation</string>
	<key>PROJECT_ID</key>
	<string>hotel-reservation-f2352</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-reservation-f2352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242972701790:ios:8270fa9e5c2d9bda</string>
	<key>DATABASE_URL</key>
	<string>https://hotel-reservation-f2352.firebaseio.com</string>
</dict>
</plist>